{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block body %}

    <div class="row col-lg-10 wrap">
        {% for product in products %}
            {% include 'layouts/product.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
